body {
    font-family: Arial, sans-serif; /* Шрифт Arial */
    background-image: url('./res/background1.png');
    margin: 0; /* Убираем отступы по умолчанию */
    padding: 0; /* Убираем внутренние отступы */
    border-radius: 5px;
    display: flex; /* Включаем flex-разметку */
    justify-content: center; /* Выравниваем по центру горизонтально */
    align-items: center; 
    height: 100vh; 
}

.container {
    background-color: #DCEDC2;
    border: 4px solid #FFAAA6;
    padding: 30px 10px 10px 10px;
    height: 400px;
    width: 340px;
    text-align: center;
}


/* Стили для заголовка h1*/
h1 {
    
    font-family: 'Pixelify Sans', sans-serif;
    color: #D05760;/* Темно-розовый цвет */
    padding: 10x 29px;
}

.start-page h1 {
    font-family: 'Pixelify Sans', sans-serif; /* Шрифт для заголовка */
    color: #D05760; /* Темно-розовый цвет */
    padding: 30px 29px; /* Внутренние отступы */
    font-size: 36px; /* Размер шрифта для заголовка на первой странице */
    text-align: center; /* Выравнивание текста по центру */
}

button {
    font-family: 'Pixelify Sans', sans-serif;
    background-color: #FFD3B5; /* Светло-оранжевый фон */
    border: 4px solid #FFAAA6; /* Розовая рамка */
    color: #D05760; /* Темно-розовый текст */
    top: 15px;
    padding: 4px 10px;
    margin: 10px; /* Внешние отступы */
    cursor: pointer; /* Курсор-указатель */
    font-size: 25px; /* Размер текста */
    transition: all 0.3s; /* Плавные анимации */
}

button:hover {
    font-family: 'Pixelify Sans', sans-serif;
    background-color: #FFAAA6; /* Розовый фон при наведении */
    color: white; /* Белый текст */
}

.start-page #start-btn {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 30px;
    padding: 5px 70px; /*ширина и длина*/
}

.food-options {
    font-family: 'Pixelify Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.food-options button {
    margin: 5px 0;
}